.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.room {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.info {
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  width: 140px;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}
button {
  width: fit-content;
  height: 30px;
  border: 1px solid #6c27f7;
  border-radius: 3px;
  background-color: transparent;
  color: #6c27f7;
  position: absolute;
  bottom: 10px;
}
.info > h3 {
  padding-bottom: 6px;
  margin: 0;
}
.info > span {
  padding-bottom: 4px;
}